<div class="order-wrapper">
  <div *ngIf="orders.length == 0">
    <strong>Istorija porudzbina prazna!</strong>
  </div>

  <div *ngFor="let order of orders">
    <ul
      class="order-class"
      [ngClass]="[
        !order.confirmed ? 'waiting' : '',
        !order.delivered && order.confirmed ? 'confirmed' : '',
        order.delivered && order.confirmed ? 'delivered' : ''
      ]"
    >
      <li><strong>ID porudzbine: </strong>{{ order.id }}</li>
      <li><strong>Adresa: </strong>{{ order.orderAddress }}</li>
      <li *ngIf="order.delivered">
        <strong>Isporucena: </strong
        >{{ order.deliveryTime | date: "'MMM d, y, HH:mm" }}
      </li>
      <li><strong>Cena: </strong>{{ order.price }} din</li>
      <hr />
      <div>
        <strong>Proizvodi: </strong>
        <div *ngFor="let orderedProduct of order.orderedProducts">
          <ul>
            <li>
              <strong
                >Naziv:{{
                  getProductById(orderedProduct.productId).name
                }}</strong
              >
            </li>
            <li><strong>Kolicina: </strong>{{ orderedProduct.amount }} kom</li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</div>
